.customCalendar {
  .leftMonth {
    margin-left: 80px;
    margin-bottom: -20px;
  }
  .scrollContainer {
    overflow-x: hidden;
  }
  .scrollWrapper {
    height: 80px;
    display: flex;
    justify-content: center;
  }
}

.calendarArrow {
  margin-top: 25px;
}

.customCalendarCard {
  width: 30px;
  margin: 0 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  .day {
    margin-top: 10px;
  }
  .month {
    height: 10px;
  }
}
